.ns-news-advancedsearch input[type="checkbox"] {
	width: auto;
	display: inline-block;
	vertical-align: top;
}
.ns-news-advancedsearch label span {
	padding-left: 10px;
	display: inline-block;
}
.btn-submit {
	margin-right: 10px;
}